@media(max-width: 910px) {
    .signUp {
        justify-content: center;
        right: auto;
        top: auto;
        bottom: 12vh;
    }

    .buttonsLogin {
        flex-direction: column;
        align-items: center;

        width: 100%;
        gap: 21px;
    }

    .buttonsLogin button {
        width: clamp(50%, 50vw, 100%);
    }

    .login-form{
        height: 90vh;
    }

    .logIn {
        display: inline-flex;
        padding: 5vh 10vw;
        flex-direction: column;
        align-items: center;
        width: 90%;
        height: 65vh;
    }

    .inputsLogin{
        gap: 2px;
    }

    .headlineLogIn{
        gap: 2px;
    }

    .innerform {
        width: 100%;
        gap: 5%;
    }

    @keyframes logoAnimation {
        0% {
            width: 274px;
            height: 334.072px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        100% {
            width: auto;
            height: 6%;
            position: fixed;
            top: calc(6vh);
            left: calc(5vw + 40px);
        }
    }
}

@media(max-width: 420px) {
    .login{
        padding: 2vh 10vw;
    }
}