@media(max-width: 910px) {
    .content {
        left: 0;
        max-width: fit-content;
        height: calc(100% - 128px - 96px - 80px);
        width: 100%;
        right: 0;
    }
}

@media(max-width: 450px) {
    .headlineBig {
        text-wrap: wrap;
        width: fit-content;
    }
}