@import url('../animations.css');

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.d-none {
  display: none !important;
}

.slide-in {
  animation: slideIn 0.3s ease-in-out forwards;
}

.slideOut {
  animation: slideOut 0.3s ease-in-out forwards;
}

@keyframes slideIn {
  from {
    right: -100%;
  }

  to {
    right: 0;
  }
}

@keyframes slideOut {
  from {
    right: 0;
  }

  to {
    right: -100%;
  }
}

.close-button-task {
  position: absolute;
  top: 48px;
  right: 48px;
}

#header {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.button-hover {
  height: 25px;
  width: 25px;
}

.button-hover:hover {
  background-color: rgba(211, 208, 208, 0.954);
  border-radius: 50%;
  transform: scale(1.06);
}

.requiredField {
  color: #ff8190;
  height: 12px;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  margin-top: 0 !important;
}

.error {
  border-radius: 10px;
  border: 1px solid #ff8190 !important;
}

.addtask_content {
  display: flex;
  gap: 24px;
}

.overlay-content-addTask,
.overlay-content-editTask {
  position: relative;
  border-radius: 30px;
  background-color: #fff;
  z-index: 6;
  transition: right 0.3s ease;
}

.overlay-bg-addTask,
.overlay-bg-editTask {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  height: 100%;
  background-color: rgba(200, 200, 200, 0.5);
}

.frame219 {
  display: flex;
  width: 440px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  top: 174px;
  left: 74px;
}

input[type='date']::placeholder {
  color: #d1d1d1;
}

.task_title {
  display: flex;
  width: 440px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.task_title_text {
  color: #2a3647;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.task_description {
  display: flex;
  width: 440px;
  height: 168px;
  top: 112px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.task_description_text {
  width: 440px;
  height: 24px;
  align-self: stretch;
  color: #2a3647;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.frame207 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
  width: 440px;
  height: 136px;
  gap: 4px;
}

#frame17 {
  display: flex;
  width: 440px;
  height: 120px;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  border-radius: 10px;
  border: 1px solid var(--Style, #d1d1d1);
  background: #fff;
  font-weight: 400;
  font-size: 20px;
}

#frame17_text {
  font-family: Inter;
  width: 434px;
  height: 115px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  border: none;
}

.task_assigned_to {
  width: 440px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
}

.task_assigned_to_text {
  width: 150px;
  height: 24px;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #2a3647;
}

.frame35 {
  display: flex;
  justify-content: flex-end;
  width: 334px;
  height: 56px;
  gap: 4px;
}

.frame27 {
  display: flex;
  height: 56px;
  gap: 25px;
  bottom: 5vh;
}

.frame203 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
  width: 440px;
  height: 64px;
}

.frame14 {
  width: 440px;
  height: 48px;
  padding: 12px 21px;
  border-radius: 10px;
  gap: 10px;
  border: 1px solid #d1d1d1;
  background: #ffffff;
}

#frame14_text {
  width: 398px;
  height: 24px;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  border: none;
}

#frame14_text:focus-within,
#frame17_text:focus-within,
.frame211:focus-within,
select,
input {
  border: none;
  outline: none;
}

.frame14:focus-within,
#frame17:focus-within,
.frame74:focus-within,
.frame74:focus {
  border: 2px solid #5fc0e9 !important;
}

.frame74 {
  width: 440px;
  height: 48px;
  padding: 0 16px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  border: 1px solid #d1d1d1;
  background-color: #ffffff;
  z-index: 52;
}

.category_select {
  display: flex;
  flex-direction: row;
}

#category_select_name {
  caret-color: transparent;
}

#category_selection-background {
  top: 40px;
  left: 0;
  width: 100%;
  background-color: #FFF;
  border-radius: 10px;
  height: 288px;
  position: absolute;
  padding-top: 48px;
  z-index: 5;
  box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
}

.categoryElement {
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  padding: 7px 16px;
  display: flex;
  align-items: center;
  height: 48px;
}

.categoryElement:hover {
  border-radius: 10px;
  background-color: #EEE;
}

#frame74_select {
  width: 440px;
  height: 24px;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
}

.arrow-dropdown {
  width: 24px;
  height: 24px;
  margin: 12px 0;
  flex-shrink: 0;
  border-radius: 50%;
  background-color: #fff;
}

.arrow-dropdown:hover {
  background-color: #d9d9d9;
}

.search-contact,
.search-category {
  width: 100%;
  color: var(--black, #000);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.search-contact::placeholder,
.search-category::placeholder {
  color: var(--black, #000);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.primary_check_button {
  width: 200px;
  height: 56px;
  background-color: var(--bg-button);
  border: 1px solid var(--bg-button);
  border-radius: 10px;
  padding: 8px 16px;
  font-size: 21px;
  line-height: 25.2px;
  font-weight: 700;
  color: var(--text-btn);
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 4px;
}

.primary_check_button:hover {
  background-color: var(--sub);
  border: 1px solid var(--sub);
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.5);
}

.frame39 {
  display: flex;
  width: 440px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
}

.framedue {
  width: 440px;
  height: 96px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: #2a3647;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.frame39_duedate {
  color: #2a3647;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.frame211 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
  width: 440px;
  height: 64px;
  color: #d1d1d1;
}

.frame14due {
  display: flex;
  padding: 12px 16px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-radius: 10px;
  border: 1px solid var(--Style, #d1d1d1);
  background: #ffffff;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

#addTaskInputForm {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-right: 10px;
  height: 70vh;
  overflow-y: auto;
}

.taskFormFooter {
  width: 100%;
  z-index: 4;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
  display: flex;
  margin-top: 16px;
  margin-bottom: 16px;
  height: 70px;
}

select {
  background: url(../../assets/img/add-task/arrow_drop_down.png) no-repeat right center;
}

textarea {
  resize: none;
  padding: 18px 16px;
  background: url(../../assets/img/add-task/recurso.png) no-repeat right bottom;
}

.frame28 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  width: 440px;
  height: 88px;
  top: 120px;
}

.frame28_text {
  width: 440px;
  height: 24px;
  align-self: stretch;
  color: #000000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.priority {
  display: flex;
  width: 440px;
  justify-content: center;
  align-items: center;
}

.priority [type='radio'] {
  opacity: 0;
}

.urgent,
.medium,
.low {
  display: flex;
  padding: 16px 10px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
}

#frame24,
#frame25,
#frame26 {
  width: 106px;
  display: flex;
  position: relative;
  justify-content: flex-start;
  align-items: center;
}

.urgent:hover,
.medium:hover,
.low:hover {
  box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.4);
}

#imgUrgent {
  color: #ff3d00;
}

#imgMedium {
  color: #ffa800;
}

#imgLow {
  color: #7ae229;
}

.frame24_selected {
  background-color: #ff3d00;
  color: white;
  font-weight: 600;
  box-shadow: none;
  pointer-events: none;
}

.frame25_selected {
  background-color: #ffa800;
  color: white;
  font-weight: 600;
  box-shadow: none;
  pointer-events: none;
}

.frame26_selected {
  background-color: #7ae229;
  color: white;
  font-weight: 600;
  box-shadow: none;
  pointer-events: none;
}

.category {
  width: 440px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
}

.category_text {
  width: 150px;
  height: 24px;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #2a3647;
}

.frame74:focus-within,
.frame74:focus {
  border: 2px solid #5fc0e9 !important;
}

.subtasks {
  display: flex;
  flex-direction: column;
  width: 440px;
  gap: 8px;
}

.subtasks_text {
  color: #2a3647;
  width: 88px;
  height: 24px;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.frame14_subtask {
  width: 440px;
  height: 48px;
  padding: 12px 21px;
  border-radius: 10px;
  gap: 5px;
  border: 1px solid #d1d1d1;
  display: flex;
  background-color: #ffffff;
}

.frame14_subtask:focus-within {
  border: 2px solid #5fc0e9 !important;
}

#frame14_subtask_text {
  position: relative;
  width: 398px;
  height: 24px;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  border: none;
}

#subtaskArea {
  max-height: 90px;
  overflow: auto;
}

#frame14_subtask_text:focus {
  background: none;
}

#subtasklist li {
  padding-left: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  display: flex;
  padding-right: 24px;
}

#subtasklist li:hover {
  background-color: rgb(232, 229, 229);
  border-radius: 10px;
}

.subtaskActionPanel {
  opacity: 0;
}

#subtasklist li:hover .subtaskActionPanel {
  opacity: 1;
}

#subtaskEdit {
  width: 100%;
  height: 32px;
  padding: 4px 24px 4px 16px;
  background-color: #ffffff;
  border-bottom: 1px solid #005dff;
  display: flex;
  justify-content: space-between;
  position: relative;
}

#subtaskEditInput {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  height: 19px;
  width: 314px;
}

.buttons-cancel {
  display: flex;
  padding: 16px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  overflow: hidden;
  border-radius: 10px;
  border: 1px solid var(--version-2-main-color, #2a3647);
  color: var(--version-2-main-color, #2a3647);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.buttons-cancel:hover {
  border-radius: 10px;
  border: 2px solid var(--Ligth-blue, #29abe2);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 15px;
  color: var(--Ligth-blue, #29abe2);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  animation-timing-function: ease-in-out;
  animation-duration: 100ms;
}

.buttons-cancel:hover img {
  filter: invert(40%) sepia(30%) saturate(1500%) hue-rotate(190deg) brightness(120%) contrast(90%);
}