<div class="sidebar">
    <img class="joinLogo" src="../assets/img/logo_light.png" alt="">
    <div class="quicklinks">
        <div onclick="openSelectedQuicklink('quickSummary')" id="quickSummary" class="clickable quicklinksSpan hoverBG isActiveColor">
            <img src="../assets/img/summary/summary_menu.svg" alt="">
            <a>Summary</a>
        </div>
        <div onclick="openSelectedQuicklink('quickAddTask')" id="quickAddTask" class="clickable quicklinksSpan hoverBG">
            <img src="../assets/img/summary/addTask_menu.svg" alt="">
            <a>Add Task</a>
        </div>
        <div onclick="openSelectedQuicklink('quickBoard')"  id="quickBoard" class="clickable quicklinksSpan hoverBG">
            <img src="../assets/img/summary/board.svg" alt="">
            <a>Board</a>
        </div>
        <div onclick="openSelectedQuicklink('quickContacts')" id="quickContacts" class="clickable quicklinksSpan hoverBG">
            <img src="../assets/img/summary/contacts_menu.svg" alt="">
            <a>Contacts</a>
        </div>
    </div>
    <div class="legal">
        <div onclick="openSelectedQuicklink('privacy')" class="legalSpan quicklinks clickable">
            <a>Privacy Policy</a>
        </div>
        <div onclick="openSelectedQuicklink('legal')" class="legalSpan quicklinks clickable">
            <a>Legal notice</a>
        </div> 
    </div>
</div>


<div class="sidebarMobile dNone">
    <div class="quicklinks">
        <div onclick="openSelectedQuicklink('quickSummary')" id="respQuickSummary" class="clickable quicklinksSpan hoverBG isActiveColor">
            <img src="../assets/img/summary/summary_menu.svg" alt="">
            <a>Summary</a>
        </div>
        <div onclick="openSelectedQuicklink('quickBoard')"  id="respQuickBoard" class="clickable quicklinksSpan hoverBG">
            <img src="../assets/img/summary/board.svg" alt="">
            <a>Board</a>
        </div>
        <div onclick="openSelectedQuicklink('quickAddTask')" id="respQuickAddTask" class="clickable quicklinksSpan hoverBG">
            <img src="../assets/img/summary/addTask_menu.svg" alt="">
            <a class="addTaskSpan">Add Task</a>
        </div>
        <div onclick="openSelectedQuicklink('quickContacts')" id="respQuickContacts" class="clickable quicklinksSpan hoverBG">
            <img src="../assets/img/summary/contacts_menu.svg" alt="">
            <a>Contacts</a>
        </div>
    </div>
</div>